# Ignore venv, pyc files, etc.
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# Virtual environment
.venv/
venv/
env/

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Deployment
.railway/
dist/
